<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatibus, facilis expedita dolorem error animi mollitia cum quos, velit nesciunt magnam dolore modi soluta provident! Maiores sed sapiente nesciunt distinctio labore.
        Sequi rem suscipit vero blanditiis repudiandae voluptas excepturi, aliquam a exercitationem ut consequatur incidunt ipsa doloribus repellendus molestias voluptatem laboriosam veritatis officiis velit! Eaque dolores magnam incidunt, nulla natus quasi?</p>
    </div>
</div>