<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde rerum dolorum expedita dolore nobis, reprehenderit praesentium amet odio beatae quisquam voluptatibus animi voluptas rem blanditiis impedit, hic voluptatem officia deleniti.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam tempore saepe ullam maxime quasi voluptates delectus doloribus, accusamus ut, sint optio alias porro ratione sunt natus nihil quo, eos exercitationem.lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio nemo quia mollitia quasi! Officia sit culpa distinctio. Nesciunt, sunt, aut aliquid sit quod nemo rem adipisci quis voluptatem temporibus omnis.</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>
</div>