<div class="jumbotron mt-4">
    <h1 class="display-4 py-2">Notes App Nodejs and Mongodb</h1>
    <p class="lead text-light">This app is an interactive project using NodeJS to create a server, mongodb to manage data and it is a page that serves as the final project of my learning process with nodejs and mongodb. Bootstrap is used for the process of user interface and passport is used for users management and authentication, we use handlebars templating language to ease the development process of the application as well.</p>
    <hr class="my-4 text-light">
    <p class="text-light">
        For this project is needed mongo running in order to make the database which is going to be called notes-app and where collections users and notes will contain the data of the users for authentication processes and notes data tied to specific users. <br> <br>
        
        This Project was shown and taught by a youtube channel that deserves all the merits for sharing such valuable information.
    </p>
    <a href="https://www.youtube.com/watch?v=-bI0diefasA&t=2955s" class="btn btn-primary "> See video</a>
</div>