<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card shadow-sm mb-5 bg-white rounded">
            <div class="card-header">
                Sign In
            </div>
            <div class="card-body">
                <form action="/users/signin" method="POST">
                    <div class="form-group m-2">
                        <input type="text" class="form-control" name="email" placeholder="Email">
                    </div>
                        <div class="form-group m-2">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group m-2 d-flex flex-column">
            
                        <button type="submit" class="btn btn-primary btn-block bg-dark">Sign In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>